<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<memcached>
		<Servers></Servers>
		<InitConnections></InitConnections>
		<property name="Servers" value="192.168.125.4:11211,192.168.125.242:11211"/>
		<property name="InitConnections" value="3"/>
		<property name="MinConnections" value="3"/>
		<property name="MaxConnections" value="3"/>
		<property name="SocketConnectTimeout" value="1000"/>
		<property name="SocketTimeout" value="3000"/>
		<property name="MaintenanceSleep" value="30"/>
		<property name="FailOver" value="3"/>
		<property name="Nagle" value="false"/>
		<property name="FailOver" value="true"/>
		<property name="EnableCompression" value="false"/>
		<property name="Duration" value="0.00:00:10"/>
	</memcached>
</configuration>