<?xml version="1.0"?>
<configuration>
  <absolutepath>http://www.abc.com/novel</absolutepath>
  <relativepath>/novel</relativepath>
  <sitename>this is the site name,will show on each page</sitename>
  <keywords>1,2,3,4,5,6</keywords>
  <description>this is the description.</description>
  <db>
    <dbtype>mysql</dbtype>
    <dbstr>server=127.0.0.1;uid=njh;pwd=njh</dbstr>
  </db>
  
</configuration>
