<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <!-- OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
  <!-- Set root logger level to ERROR and its appenders -->
  <root>
    <level value="ALL"/>
    <!-- 文件日志 -->
    <appender-ref ref="RollingFileAppender"/>
  </root>
  <logger name="AppLogger" additivity="false">
    <level value="ALL"/>
    <appender-ref ref="RollingFileAppender" />
  </logger>

  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender,log4net" >
    <param name="File" value="App_Data/ErrorLog/" />
    <!--是否在文件中追加-->
    <param name="AppendToFile" value="true" />
    <!--按照日期进行变换日志文件-->
    <param name="RollingStyle" value="Date" />
    <!--最大变换数量，-1为不限制-->
    <param name="MaxSizeRollBackups" value="10"/>
    <!--最大文件大小-->
    <param name="MaximumFileSize" value="10MB"/>
    <!--日期的格式-->
    <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />
    <!--日志文件名是否为静态-->
    <param name="StaticLogFileName" value="false" />
    <layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern" value="%n[%-5level] %date{yyyy-MM-dd HH:mm:ss,fff} [%thread] %logger %n%message%n" />
    </layout>
  </appender>
</log4net>