<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <settings>
    <setting cacheModelsEnabled="true"/>
    <setting useStatementNamespaces="false"/>
    <setting validateSqlMap="false"/>
  </settings>
  <providers resource="./ibatisnet/Providers.config"/>
  <database>
    <provider name="sqlServer2005"/>
    <dataSource name="IBatis" connectionString="Data Source=ISS1100010O1455\SQL2;Initial Catalog=ibatisnet;User ID=sa;Password=njh@04.com"/>
  </database>
  <sqlMaps>
    <!--<sqlMap embedded="IBatisNetApp.DAL.DAO.PersonDAO.xml,  IBatisNetApp.DAL"/>-->
    <sqlMap resource="./ibatisnet/sqlMap/student.xml" ></sqlMap>
  </sqlMaps>
</sqlMapConfig>
